body {
	background: black;
	font-family: "Roboto", sans-serif;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 5px;
	font-family: "Roboto", sans-serif;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
h1 {
	width: 100%;
    margin: 0;
    margin-top:10px;
}
.postcard-body {
	display: flex;
}
.body-left :first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: 0;
	border-bottom: grey solid 1px;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgba(128, 128, 128, 0.473);
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
